// @import "bootstrap-sprockets"
@import "bootstrap"
@import "public_site"
@import "navbar"

*
  margin: 0
  padding: 0

body
  background-image: image-url("128-85.jpg")
  background-attachment: fixed
  font-size: 100%

.container.body-content
  padding-top: 4rem
