// @import "bootstrap-sprockets"
@import "bootstrap"
@import "public_site"

/* Coolors Exported Palette - coolors.co/000f08-e0ca3c-26408b-f34213-c2e7d9 */

/* HSL */
$color1: hsla(152%, 100%, 3%, 1)
$color2: hsla(52%, 73%, 56%, 1)
$color3: hsla(225%, 57%, 35%, 1)
$color4: hsla(13%, 90%, 51%, 1)
$color5: hsla(157%, 44%, 83%, 1)

/* RGB */
$color1: rgba(0, 15, 8, 1)
$color2: rgba(224, 202, 60, 1)
$color3: rgba(38, 64, 139, 1)
$color4: rgba(243, 66, 19, 1)
$color5: rgba(194, 231, 217, 1)

body
  background-color: $color5

.bg-nav
  background-color: $color3
  li
    margin: 4px
    a
      color: $color2
  li.dropdown
    a
      color: $color1
  // .navbar-nav
  //   display: flex
  //   li
  //     flex: 1
  //     text-align: center
