@import "colours"

.bg-nav
  background-color: $color-primary-3
  height: 4rem
  li
    margin: 4px
    a
      color: white

#navbarDropdownMenuLink
  color: white
  margin: 0
  padding: 0

.nav-item
  position: relative
  a
    display: block
    height: 100%
    width: 100%
    text-align: center
